.aboutPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40rem;
    max-width: 95vw;
    .avatar {
        border-radius: 50%;
    }
    .follow-links {
        display: flex;
        align-items: center;
        justify-content: center;
        a {
            text-decoration: none;
            font-size: 2rem;
            color: black;
            &:hover {
                color: grey;
            }
        }
    }
}
